/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


  /*mathieu*/

  /*top agenda */
  .nomobile {
    display: none;
  }

  .yesmobile {
    display: block;
  }

  .topagenda {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
  }

  .topagenda p, .maincontainer1 p {
    margin: 0;
  }

  select {
    border: 5px solid black;
    padding: 5px;
  }

  .maincontainer1 img {
    height: 276px;
    width: 100%;
  }

  .texteagenda {
    width: 90%;
    margin: auto;
  }

  .maincontainer1 {
    font-size: 15px;
  }

  figure {
    width: 100%;
    margin: 0;
  }

  .texteagenda a {
    border: 3px solid black;
    padding: 15px;
    color: black;
    text-decoration: none;

  }

  .texteagenda a:hover {
    color: #D8383F;
    border: 3px solid #D8383F;
    transition: 0.3s;

  }

  .p1 {
    padding-bottom: 50px;
  }

  .p2, .p1 {
    font-weight: bold;
  }

  .p3, .texteagenda span {
    color: #d3336c;
  }

  .ptop {
    padding-top: 50px;
  }

  .pbot {
    padding-bottom: 50px;
  }

  .imgagenda {
    padding-top: 50px;
  }

  a .flaticon-uniE940 {
    font-size: 10px;
    margin-left: 20px;
  }

  @media (min-width:1280px) {

    .nodesktop {
      display: none;
    }

    .yesdesktop {
      display: block;
    }

    .maincontainer1 img {
      width: 185px;
      height: 274px;
    }
    .art1agenda {
      width: 1150px;
      display: flex;

    }

    figure {
      width: 25%;
    }


    .ligne {
      width: 37px;
      height: 37px;
      border-top: solid 16px;
      border-right: solid 16px;
      margin-left: 863Px;
      color: #d3336c;
    }
      .ligne2 {
        color: #935297;
        width: 37px;
        height: 37px;
        border-top: solid 16px;
        border-right: solid 16px;
        margin-left: 863Px;
      }

      .texteagenda2 {
        border-top: #935297 solid 1px;
        margin-bottom: 100px;
      }



    .p4 {
      padding-top: 20px;
    }

    .texteagenda {
        border-top: #d3336c solid 1px;
        margin-bottom: 100px;


    }

    .maincontainer1 {
      width: 90%;
      margin: auto;
    }

    .texte1 {
        width: 600px;
    }

    .texteagenda2 span {
      color: #935297;
    }

    .ptop {
      padding: 0;
    }

    .pbot {
      padding-bottom: 15px;
    }

    .taille1 {
      font-size: 30px;
    }

    .p1 {

      padding-bottom: 15px;
    }

    span {
      font-weight: normal;
    }

    strong {
      font-size: 18px;
    }
    .imgagenda {
      padding: 0;
    }
  }
  /*end of mathieu */

  /*sylvain */

  .youare {
    /*display: flex;*/
    /*justify-content: space-around;*/
  }

  .youare a {
    /*width: 100%;*/
  }

  .youare article {
    height: 512px;
  }

  .individuel {
    background: url(../img/Individuel.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .groupe {
    background: url(../img/Groupe.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .famille {
    background: url(../img/Famille.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .etudiant {
    background: url(../img/Etudiant.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .enseignant {
    background: url(../img/Enseignant.jpg) no-repeat;
    background-size: 100% 100%;
  }

  /*end of sylvain */

  /*slimane */
  #myCarousel{
    margin: 0;
  }

  .black{
    height: 100px;
    background-color:#222;
    color: white;
    text-align:center;
  }
/*============== Img Index.html par 3 colone */


.card-block{
  flex-direction:column-reverse;
}
  .col{
    height: 800px;
  }

.img-1{
  background-image: url(../img/Le-Concert-dans-l-oeuf.jpg);

  

}
.img-2{
   background-image: url(../img/Etude-pour-la-Madone-d-Albe.jpg);


}
.img-3{
   background-image: url(../img/Les-Vieilles-Le-Temps.jpg);


}
.img-4 {
   background-image: url(../img/Le-festin-d-Herode.jpg);

}

  /*end of slimane*/
























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
